einops==0.8.1
numpy==1.26.4
scikit-learn==1.6.1
scipy==1.13.1

sentence-transformers==2.7.0
transformers==4.42.4

torch==2.6.0
torchmetrics==1.6.1


pytorch-lightning==2.5.0.post0
ray==2.44.1

fsspec==2025.2.0
hydra-core==1.3.2
pandas==2.2.3
pyarrow==19.0.1
python-dotenv==1.0.1
tqdm==4.67.1
wandb==0.19.7